@import "@0xbuidlerhq/ui/globals.css";
@plugin "@tailwindcss/typography";

:root {
	--app-w: 10000px !important;
	--app-px: 1.5rem !important;

	--header-w: 10000px !important;
	--header-px: 1.5rem !important;

	--footer-w: 10000px !important;
	--footer-px: 1.5rem !important;
}

.light,
[data-theme="light"],
:root {
}

.dark,
[data-theme="dark"],
:root[class~="dark"] {
}
